.main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  width: 40%;
  margin: auto;
}
input{
  width:305px;
  height: 30px;
  letter-spacing: 2px;
  padding-left: 10px;
}
button{
  width: 100px;
  height: 36px;
}
li{
  list-style-type: none;
}
.items{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: auto;
  align-items:center;
  margin: 8px;
  
  
}
.movie-infos{
  padding: 30px;
  display: flex;
  width: 40%;
  border: 1px solid black;
  flex-wrap: wrap;
  
  
  
  margin: auto;
}

